* {
    box-sizing: border-box;
  }
  .display-4{
    color: #0d6efd;
  }
.list-group-item {
  position: relative;
  display: block;
  padding: .5rem 1rem;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #fff(0, 0, 0, 0.125);
}
body{
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

div.campos{
  width: 100%;  
  margin-bottom: 20px;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;

}

.form_imput{
  font-family: inherit;
  font-size: 1rem;
  padding: .8em 1em;
  border-radius: .2em;
  outline: none;
  border: none;
  border: 1px solid white;
  width: 100%;
  display: grid;
}

.form_imput--message{
  resize: none;
  padding: 1.8em 1em;
  margin-bottom: .5em;
 
}

.formulario{
  justify-content: center;
  align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@500&display=swap');

html{
  scroll-behavior: smooth;
}

